<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Pickit</title>
    <style type="text/css">
      body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; background-color: #f9f9f9; font-family: Arial,
      sans-serif; } table, td { border-collapse: collapse; mso-table-lspace:
      0pt; mso-table-rspace: 0pt; } img { border: 0; height: auto; line-height:
      100%; outline: none; text-decoration: none; } p { display: block; margin:
      13px 0; }
    </style>
    <!--[if !mso]><!-->
    <style type="text/css">
      @media only screen and (max-width: 480px) { @-ms-viewport { width: 320px;
      } @viewport { width: 320px; } }
    </style>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="text-align: center">
        <img
          src="https://res.cloudinary.com/dfagjkyui/image/upload/v1738431285/pickit_logo_sdtlj4.png"
          alt="Pickit Logo"
          style="width: 80%; height: auto; border-radius: 8px 8px 0 0"
        />
      </div>
      <h1 style="color: #333333; text-align: center">
        Welcome to Pickit – You’re In! 🚀
      </h1>
      <p style="color: #555555; font-size: 16px; line-height: 1.5">
        Hey there,
      </p>
      <p style="color: #555555; font-size: 16px; line-height: 1.5">
        Thanks for subscribing! 🎉 You’re now part of the exclusive list that
        gets early access, special offers, and the latest updates on Pickit
        before we launch.
      </p>
      <p style="color: #555555; font-size: 16px; line-height: 1.5">
        Stay tuned—we’ve got something exciting coming your way!
      </p>
      <p style="color: #555555; font-size: 16px; line-height: 1.5">
        Follow us for more updates on our social media platforms below.
      </p>
      <div
        style="
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 30px;
          margin-bottom: 40px;
        "
      >
        <a href=" https://x.com/PICKIT_NG">
          <img
            src="https://res.cloudinary.com/dfagjkyui/image/upload/v1738506124/x_pjof4u.png"
            alt="X.com"
            style="width: 50px; height: 50px; border-radius: 10px"
          />
        </a>
        <a href=" https://www.instagram.com/pickit_ng">
          <img
            src="https://res.cloudinary.com/dfagjkyui/image/upload/v1738506124/instagram_lednpt.jpg"
            alt="instagram.com"
            style="width: 50px; height: 50px; border-radius: 10px"
          />
        </a>
      </div>

      <p style="color: #555555; font-size: 14px; text-align: center">
        - The Pickit Team
      </p>
    </div>
  </body>
</html>